.panel.panel-primary
  .panel-heading
    %h1.panel-title Запрос № #{@request.id}
  .panel-body
    %df
      %dt
        %pre= @request.input
      %dd
        %pre= @request.output
  .btn
    = link_to 'К списку запросов', requests_path
